{% extends 'base.html.twig' %}

{% block title %}Hello PracticeController!{% endblock %}

{% block body %}
    {% dump(workouts) %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">date</th>
                <th scope="col">exercise</th>
                <th scope="col">sets</th>
                <th scope="col">reps</th>
                <th scope="col">notes</th>
            </tr>
        </thead>
        <tbody>
            {% for workout in workouts %}
                <tr scope="row">
                    <td>{{ workout.performedAt|date("d/m/Y") }}</td>
                    <td>{{ workout.exercise.name }}</td>
                    <td>{{ workout.sets }}</td>
                    <td>{{ workout.reps }}</td>
                    <td>{{ workout.note }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
